* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  width: 90vw;
  background-color: #b9fcf3;
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1919;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}